extends layout

block content
  h1= title
  p Welcome to Pooja Sura #{title}
  - var image_names = ["Dr.pepper.png", "sprite.jpeg", "diet_coke.jpg", "7_up.jpeg", "MOUNTAIN_DEWjpg.jpg"]
  - var i =0;
  - while(i<3){
     - var randindex = Math.floor(Math.random()*5)
     - img = "/images/"+image_names[randindex]
     - i++
     img(src=img,  height="300px",width="300px",alt="alt")     
  -}